body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
  
}

#searchinput {
    width: 50%;
    padding-left:50px;
   
    border: 2px solid black;
}

button {
    width: 70px;
    background-color: rgb(191, 215, 234);
    cursor: pointer;
    border: 2px solid black;
}

button:hover {
    background-color: brown;
}

#par {
    line-height: 1.5; /* Fixed typo here */
    margin-bottom: 20px; /* Fixed typo here */
}

.highlight {
    background-color: yellow;
    font-weight: bold;
   
}