.navbar{
    /* padding: 20px 40px; */
    background-color: #3A6073;
    background-image: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    /* border-radius: 10px; */
}

